<a href="https://colab.research.google.com/github/Nada-Naveesh/Machine_Learning/blob/main/NaiveBayes(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [114]:
import pandas as pd
df=pd.read_csv("titanic (1).csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [115]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [122]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [123]:
dummies = pd.get_dummies(inputs['Sex'])

dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [99]:
#here we are concatinating two columns

inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False
3       1  female  35.0  53.1000    True  False
4       3    male  35.0   8.0500   False   True

In [100]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [101]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [102]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [103]:
#Handle Missing Values

#Missing age values are replaced with average age.

#Naive Bayes cannot work with NaN values.


inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True
3       1  35.0  53.1000    True
4       3  35.0   8.0500   False

In [104]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [105]:
#Gaussian Naive Bayes is used because:Data like Age and Fare are continuous fit() trains the model.

from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [106]:
model.fit(X_train,y_train)

GaussianNB()

In [107]:
model.score(X_test,y_test)

0.7574626865671642

In [108]:
X_test[0:10]

     Pclass        Age     Fare  female
612       3  29.699118  15.5000    True
235       3  29.699118   7.5500    True
409       3  29.699118  25.4667    True
602       1  29.699118  42.4000   False
430       1  28.000000  26.5500   False
859       3  29.699118   7.2292   False
786       3  18.000000   7.4958    True
338       3  45.000000   8.0500   False
723       2  50.000000  13.0000   False
845       3  42.000000   7.5500   False

In [109]:
y_test[0:10]

612    1
235    0
409    0
602    0
430    1
859    0
786    1
338    1
723    0
845    0
Name: Survived, dtype: int64

In [110]:
model.predict(X_test[0:10])

array([1, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [111]:
model.predict_proba(X_test[:10])

array([[0.39811678, 0.60188322],
       [0.39085924, 0.60914076],
       [0.38756176, 0.61243824],
       [0.7669393 , 0.2330607 ],
       [0.80894853, 0.19105147],
       [0.97157648, 0.02842352],
       [0.33549321, 0.66450679],
       [0.97236556, 0.02763444],
       [0.93904317, 0.06095683],
       [0.97283986, 0.02716014]])

In [112]:
#Calculate the score using cross validation

from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.808     , 0.776     , 0.752     , 0.76612903, 0.85483871])

In [61]:
#In this project, we used the Titanic dataset to predict whether a passenger survived or not using the Gaussian Naive Bayes algorithm.
#We cleaned the data, converted categorical values into numerical form, handled missing values, and trained the model.
#Finally, we evaluated performance using accuracy score and cross validation to ensure reliability.